* {
    margin: 0;
    padding: 0;
    background: ivory;
    box-sizing: border-box;
}

/*
    HEADER CSS - PRESENT IN ALL PAGES
*/

header {
    display: flex;
    height: 10vh;
    border-bottom: 2px solid maroon;
}

#title {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
}

#buttons button {
    margin: 15px;
    padding: 5px;
    border: 1px solid maroon;
    border-radius: 3px;
}

#header-img {
    height: 100%;
    margin: 10px;
}

#header-text {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
    FLEX CSS
*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.main-center {
    justify-content: center;
}

.cross-center {
    align-items: center;
}

.single {
    flex: 1;
}

.double {
    flex: 2;
}

/*
    GRID CSS
*/

.grid {
    display: grid;
}

#menu-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid maroon;
    height: 90vh;
    width: 100vw;
}

/*
    MENU CSS
*/

.contain {
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin: 10px;
}

.menu-border {
    border: 2px solid maroon;
}

/*
    ABOUT CSS
*/

.founder-img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.about-icon {
    object-fit: contain;
    width: 10%;
    height: auto;
}