* {
    margin: 0;
    padding: 0;
    background: ivory;
}

/*
    HEADER CSS - PRESENT IN ALL PAGES
*/

header {
    display: flex;
    height: 10vh;
    border-bottom: 2px solid maroon;
}

#title {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
}

#buttons button {
    margin: 15px;
    padding: 5px;
    border: 1px solid maroon;
    border-radius: 3px;
}

#header-img {
    height: 100%;
    margin: 10px;
}

#header-text {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*

*/